* {
    --green: #024f1a;

}
body {
    border-radius: pink solid 10px;
    background-color: #f5f5f5;   
    background-image: url("santa.jpg")
    
}
.clause{
    height: 40%;
    width: 40%;
    margin: 0 auto;
    text-decoration-color: black;
    text-align: center;
    

}
.one{
    font-size: 1.5em;
    font-weight: bold;
}
