* {
    --green: #024f1a;

}

img {
    width: 200px;
}

body {
    border-radius: pink solid 10px;
    background-color: #f5f5f5;   
}
.clause{
    height: 40%;
    width: 40%;
    margin: 0 auto;
    text-decoration-color: black;
    text-align: center;
    

}